/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
}

.allshops{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin: 0 auto;
}
.shop-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.suggest-heading h3{
    font-size: 1.3rem;
    color: black;
}
.shop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    align-items: stretch;
}
.shop-box {
    position: relative;
    width: 130px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1.5px solid #c6c6c6;
    margin: 15px;
    overflow: hidden; /* Ensure content respects the border radius */
}

.shop-image{
    width: 100%;
    height: 130px;
}

.shop-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; /* Apply the same border radius */
    border: none; /* Avoid double borders if the image has one */
}
.shop-name{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.shop-name .menu-title{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.shop-name .menu-title:hover{
    color: orangered;
    transition: all ease 0.3s;
}
@media (max-width: 1200px) {
    .allshops{
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .allshops {
        max-width: 800px;
    }
}
@media (max-width: 800px) {
    .allshops {
        max-width: 700px;
    }
    .shop-box {
        width: 120px;
    }
    .shop-image{
        height: 120px;
    }
    .shop-name .menu-title{
        font-size: 16px;
    }
}
@media (max-width: 700px) {
    .allshops {
        max-width: 600px;
    }
}

@media (max-width: 600px) {
    .allshops {
        max-width: 500px;
        padding: 10px;
    }
}
@media (max-width: 500px) {
    .shop-name{
        padding: 10px;
    }
}

@media (max-width: 450px) {
    .allshops {
        max-width: 400px;
    }
}
@media (max-width: 400px) {
    .shop-name .menu-title{
        font-size: 15px;
    }
}
