.bar{
    position: fixed;
    top: 3.7rem;
    padding-top: 1.5rem;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.bar .search-bar{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 400px;
    /* background-color: rgb(244, 115, 67); */
    margin: auto;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border-radius: 25px;
}
.search-bar input{
    position: absolute;
    margin:0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 17px;
    box-sizing: border-box;
    padding: 12px 20px;
}
.search-bar .icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    background: rgb(244, 115, 67);
    height: 100%;
    border-radius: 0 25px 25px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 7vh;
    color: white;
    font-size: large;
}

@media(max-width: 500px){
    .bar .search-bar{
        max-width: 350px;
    }
    .search-bar .icon{
        width: 50px;
    }
}

@media(max-width: 400px){
    .bar .search-bar{
        max-width: 330px;
    }
}
@media(max-width: 350px){
    .bar .search-bar{
        max-width: 300px;
    }
}
@media(max-width: 330px){
    .bar .search-bar{
        max-width: 290px;
    }
}