.search-results{
    margin-top: 68px;
    position: relative;
}
.menu-search{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
    padding-top: 65px;
    margin-bottom: 60px;
}
.back{
    width: 100vw;
    padding-top: 15px;
    position: fixed;
    padding-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
}
.turn-back{
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(250, 213, 199);
    cursor: pointer;
}
.turn-back svg{
    font-size: 20px;
    color: rgb(84, 84, 84)
}
.menu-item{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}
.menu-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.menu-content{
    display: flex;
    flex-direction: column;
}
.menu-content h3{
    font-weight: 600;
    cursor: pointer;
}
.menu-content h3:hover{
    color: rgb(233, 74, 25);
    transition: all ease 0.2s;
}
.menu-content p{
    color: rgb(70, 70, 70);
}
.no-result{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.no-result svg{
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(165, 204, 222);
}
.no-result p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(116, 116, 116);
}

@media(max-width: 700px){
    .menu-item img{
        width: 70px;
        height: 70px;
    }
    .menu-search{
        width: 70%;
    }
    .back{
        padding-left: 15%;
    }
    .menu-content p{
        line-height: 1.3rem;
    }
}
@media(max-width: 600px){
    .menu-search{
        gap: 15px;
    }
}
@media(max-width: 500px){
    .menu-search{
        width: 80%;
    }
    .back{
        padding-left: 10%;
    }
    .menu-content h3{
        font-size: 17px;
    }
    .menu-item{
        padding: 10px 15px;
    }
}