.signIn-logIn-wrapper{
    width: 500px;
    padding: 2rem 1rem;
    margin: 30px auto;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 25px 35px rgba(0, 0, 0, 0.1);
}
.signIn-logIn-wrapper h1{
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.signIn-logIn-wrapper input{
    width: 70%;
    outline: none;
    border: 3px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    font-size: 16px;
}
.signIn-logIn-wrapper input:focus{
    border: 1.5px solid rgb(192,192,192)
}
.confirm-button{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 25%;
    background: rgb(248, 134, 76);
    cursor: pointer;
}
.confirm-button:hover{
    background: rgb(245, 164, 34);
}
.other-option{
    font-size: 16px;
    margin-top: 1.4rem;
    color: #636363;
}
.other-option button{
  font-size: 16px;
  padding: 4px;
  border-radius: 15px;
  border-width: 1.5px;
}
.account-option{
    margin-bottom: 1.2rem;
}
.account-choice, .account-choice-click{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border-width: 0.9px;
    align-items: center;
    justify-content: center;
    margin: 0 7px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border: none;
 }
 .account-choice-click{
    width: 100px;
    height: 100px;
    background-color: rgb(252, 226, 217);
    box-shadow: 0 7px 14px rgba(0,0,0,0.2);
 }
.account-choice svg, .account-choice-click svg{
    font-size: 1.9rem;
    margin-bottom: 8px;
    color: rgba(71, 64, 64, 0.997);
 }
.account-choice-click svg{
    color: rgb(234, 100, 60);
 }
.account-choice p{
    font-size: 0.7rem;
    color: #201919;
}
.p-warning{
    margin-bottom: 5px;
    font-size: 15px;
    color: #767575;
}
.signIn-logIn-wrapper h5{
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.forgot-pass{
    width: 70%;
    margin: 0 auto;
    text-align: right;
    padding-right: 5px;
}
.forgot-pass a{
    color: rgb(26, 26, 194);
    text-decoration: underline;
}
.forgot-pass a:hover{
    color: rgb(42, 42, 255);
    text-decoration: underline;
}

@media(max-width: 600px){
    .signIn-logIn-wrapper{
        width: 400px;
    }
    .signIn-logIn-wrapper h1{
        font-size: 2rem;
    }
    .signIn-logIn-wrapper input{
        width: 85%;
        font-size: 14px;
    }
    .confirm-button:hover{
        background: rgb(245, 164, 34);
    }
    .other-option{
        font-size: 14px;
    }
    .other-option button p{
        font-size: 14px;
    }
    .account-option{
        margin-bottom: 1.2rem;
    }
    .account-choice svg{
        font-size: 1.9rem;
    }
    .account-choice p{
        font-size: 0.7rem;
    }
    .signIn-logIn-wrapper h1{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
    
}
@media(max-width: 500px){
    .signIn-logIn-wrapper{
        width: 80%;
    }
}
@media(max-width: 400px){
    .signIn-logIn-wrapper input{
        width: 95%;
        font-size: 14px;
    }
}