<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .message{
            display: flex;
            flex-direction: row;
        }
        .message pre{
            font-family: "Poppins", sans-serif;
        }
        .email-content{
            font-size: 17px;
        }
        .OTP{
            font-size: 18px;
            font-weight: bold;
            color: rgb(8, 75, 208);
        }
    </style>
</head>
<body>
    <div class="message">
        <pre  class="email-content">OTP สำหรับการเปลี่ยนรหัสผ่านของคุณคือ </pre>
        <pre class="OTP">2563</pre>
    </div>
</body>
</html>